<% layout('../includes/layout') -%>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">MultiVision</a>
			<ul class="nav navbar-nav">
	            <li><a href="/">Home</a></li>
	            <li><a href="/courses">Courses</a></li>
	            <li><a href="/about">About</a></li>
	            <li><a href="/contact">Contact</a></li>
          	</ul>
	    </div>
      	<div ng-include="'/partials/account/navbar-login'"></div>
		
	</div>
</div>

<div ng-view></div>

<footer class="footer container text-center">
	<p>© 2016 MultiVision Company, Inc.</p>
</footer>

